# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/  # فایل‌های collectstatic

# Environment variables
.env
.env.local
.env.production
.env.dev
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Cache
*.cache
*.tmp

# Backup files
*~
\#*\#

# Redis
dump.rdb

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist/
build/

# Coverage
.coverage
htmlcov/