{% extends 'base.html' %}
{% load i18n static custom_filters %}

{% block title %}{% trans "Confirm Your Code" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/pages/confirm-code.css' %}">
{% endblock %}

{% block content %}
    <section
            class="min-h-screen flex items-center justify-center bg-gradient-to-r from-blue-500 to-purple-600 text-white">
        <div class="p-8 rounded-lg shadow-lg w-full max-w-md md:bg-white bg-transparent text-gray-800">
            <div class="text-center mb-8">
                <a href="{% url 'main' %}"><img src="{% static 'images/logo.png' %}" alt="ApplyBaMa Logo"
                                                class="mx-auto h-12 w-12"></a>
                <h2 class="text-2xl font-bold mt-4 md:text-gray-800 text-white">{% trans "Enter Confirmation Code" %}</h2>
                <p class="mt-2 text-sm md:text-gray-600 text-white/90">{% trans "We’ve sent a 6-digit code to your email. Enter it
                    below." %}</p>
            </div>

            <form id="confirmForm" action="{% url 'confirm_code' pk=user_id %}" method="post" novalidate>
                {% csrf_token %}
                <div id="confirmNonFieldErrors"></div>

                <div class="flex justify-between space-x-2 mb-6">
                    {% for _ in "123456" %}
                        <input type="text" maxlength="1" inputmode="numeric" pattern="\d" class="w-12 h-12 text-center text-xl tracking-widest
                      bg-white/20 md:bg-white border border-white/50 md:border-gray-300
                      rounded md:rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-300
                      text-white md:text-gray-800" id="code{{ forloop.counter }}">
                    {% endfor %}
                </div>
                <input type="hidden" name="code" id="fullCode">

                <button type="submit" class="w-full p-2 rounded focus:outline-none focus:ring-2 focus:ring-offset-2
                     bg-white/25 hover:bg-white/30 md:bg-blue-500 md:text-white
                     text-white font-semibold md:hover:bg-blue-600 transition-all">
                    {% trans "Verify Code" %}
                </button>
            </form>

            <div class="flex items-center justify-between mt-6 text-sm">
                <a href="{% url 'resend_code' pk=user_id %}"
                   class="underline md:text-blue-500 text-white hover:text-gray-200">
                    {% trans "Resend Code" %}
                </a>
                <a href="{% url 'login' %}" class="underline md:text-gray-800 text-white hover:text-gray-200">
                    {% trans "Back to Login" %}
                </a>
            </div>
            {% include 'partials/language_switcher.html' %}
        </div>
    </section>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/pages/confirm-code.js' %}" defer></script>
{% endblock %}